<h1>
  Welcome to {{ title }}!
</h1>

<a routerLink="/search">Search</a>
<a routerLink="/newest">Newest</a>
<a routerLink="/random">Random</a>
<a routerLink="/autocomplete">Auto Complete</a>

<mat-tab-group>
  <ng-template *ngFor="let route of routes">
    {{route.path}}
    テスト
    <mat-tab label="{{route.path}}">
      {{route.path}}
    </mat-tab>
  </ng-template>
</mat-tab-group>

<router-outlet></router-outlet>

<!-- <div class="main-area-container">
<mat-tab-group>
  <mat-tab
    *ngFor="let routeLink of routeLinks; let i = index"
      label="{{routeLink.label}}"
      [routerLink]="routeLink.link"
      [active]="activeLinkIndex === i"
      (click)="activeLinkIndex = i">
      <router-outlet></router-outlet>
  </mat-tab>
</mat-tab-group>

</div> -->